<div class="cart">
  <h1><i class="fa-solid fa-cart-shopping"></i> Cart</h1>
  <div class="cart-container">
    <h2>Products</h2>
    <% if (user && user.cart.p && myproducts.length > 0) { %> <%
    products.forEach(product => { %>
    <div class="product-row">
      <img
        src="<%= product.images[0] %>"
        alt="<%= product.name %>"
        class="product-image"
      />
      <span class="product-name"><%= product.name %></span>
      <button>+</button>
      <span class="product-quantity"><%= product.quantity %></span
      ><button>-</button>
    </div>
    <% }); %>
    <div class="total-price">
      Total: $<%= products.reduce((total, product) => total + (product.price *
      product.quantity), 0).toFixed(2) %>
    </div>
    <% } else { %>
    <p>Your cart is empty.</p>
    <% } %>
  </div>
</div>

<script>
  
  
  
  </script>
